* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps du document */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #131212;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
}

/* Style du header */
header {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #131212;
}

/* Section contenant les cartes Pokémon */
.classeur {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Style de chaque carte Pokémon */
.type {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    text-align: center;
    border: 5px solid transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.legendaire{
    background: linear-gradient(rgba(252, 252, 252, 0.63),rgba(133, 133, 133, 0.226));
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    text-align: center;
    border: 5px solid transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Définition des couleurs pour chaque type de Pokémon */
.type.feu {
    border-color: #f44336; /* Rouge */
}

.type.eau {
    border-color: #2196f3; /* Bleu */
}

.type.plante {
    border-color: #4caf50; /* Vert */
}

.type.electrique{
    border-color: #fdfa21; /* Jaune */
}

.type.glace{
    border-color: #60b8ff; /* Bleu */
}

/* Effet au survol */
.type:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px
}